@import "tailwindcss";

@layer utilities {
  .animate-in{
    animation-fill-mode:both;
  }

  .slide-in-from-top{
    animation-name: slideInFromTop;
  }

  .duration-300{
    animation-duration: 300ms;
  }
}

@keyframes slideInFromTop {
  From {
    opacity: 0;
    transition:translateY(-1rem);
  }
  to {
    opacity:1;
    transform:translateY(0);
  }
}